/* ���������� */
#commentList {
    width: 100%;
    max-width: 800px; /* �������Ŀ��� */
    margin: 0 auto;
    padding: 10px 0;
    position: relative; /* ��֤���ĵ����� */
}

/* �������� */
.comment-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 8px;
}

    /* ����ͷ�� */
    .comment-item img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 12px;
    }

/* �������� */
.comment-text a {
    color: #333;
    text-decoration: none;
    word-break: break-word;
}

    /* �����ͣЧ�� */
    .comment-text a:hover {
        text-decoration: underline;
    }
