{% extends '_layout.swig' %}
{% import '_macro/sidebar.swig' as sidebar_template with context %}

{% block title %}{{ title }}{%- if theme.index_with_subtitle and subtitle %} - {{ subtitle }}{%- endif %}{% endblock %}

{% block class %}index posts-expand{% endblock %}

{% block content %}

  <div class="grid-container">
  {%- for post in page.posts.toArray() %}
    <section class="grid-item" onclick="window.location.href='{{ post.url }}'">
      <div class="image-container">
        {% if post.featured_image %}
          <img src="{{ post.featured_image }}" alt="封面图">
        {% else %}
          <img src="/images/default.gif" alt="默认封面">
        {% endif %}
      </div>
      <div class="text-container">
        <h2>{{ post.title }}</h2>
        <p>{{ post.excerpt }}</p>
      </div>
    </section>
  {%- endfor %}
</div>

  {% include '_partials/pagination.swig' %}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
